* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

header img {
  width: 80px;
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 10px;
}

.jumbo {
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

footer .link {
  background-image: url("/images/footer-bg.jpg");
}

footer .link .box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

footer .link .box .logo-dc {
  background-image: url("/images/dc-logo-bg.jpg");
  width: 40%;
  height: 300px;
  background-size: cover;
  background-position-y: center;
}

footer .link .box .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .link .box .links ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .link .box .links ul h4 {
  color: #fff;
}

footer .link .box .links ul a {
  color: gray;
  text-decoration: none;
}

footer .footer-social {
  background-color: #2A2A2A;
  padding: 20px 0;
}

footer .footer-social .box-social {
  width: 80%;
  margin: 0 auto;
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social .sign {
  text-decoration: none;
  border: 2px solid #027BF3;
  color: white;
  font-weight: bold;
  padding: 10px;
}

footer .social ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

footer .social ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 10px;
}

footer .social ul li h3 {
  color: #027BF3;
  font-weight: bolder;
  margin: 0 10px;
}

.container {
  background-color: black;
  padding: 40px 0;
  color: white;
}

.container .box {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container div {
  width: 16.6666666667%;
}

.container div ul {
  margin: 0 10px 10px 10px;
  padding: 0;
}

.container div ul li {
  list-style-type: none;
}

.container div ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.container div ul li img {
  width: 100%;
}

.container .button {
  text-align: center;
  margin-top: 30px;
}

.container .button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #027BF3;
  padding: 5px 40px;
}

.container .box-h3 {
  margin-top: -60px;
  margin-left: 130px;
}

.container .box-h3 h3 {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #027BF3;
  padding: 10px;
  font-size: 1.3em;
}

.menuHero {
  background-color: #027BF3;
  padding: 40px 0;
}

.menuHero ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.menuHero ul li {
  display: flex;
  align-items: center;
}

.menuHero ul img {
  width: 60px;
}

.menuHero ul a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.bg-blu {
  background-color: #027BF3;
  height: 80px;
}

.bg-blu div img {
  margin-top: -230px;
  margin-left: 200px;
  border: 1px solid white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.box-comic {
  width: 70%;
  margin: 0 auto;
  padding: 80px 0;
}

.box-comic .flex .col {
  flex-basis: 60%;
}

.box-comic .flex h2 {
  margin-bottom: 20px;
  color: #16405C;
}

.box-comic .flex p {
  line-height: 25px;
  color: grey;
}

.box-comic .flex .price {
  display: flex;
  justify-content: space-around;
  background-color: #70B764;
  margin-bottom: 20px;
}

.box-comic .flex .price .prezzo {
  display: flex;
  justify-content: space-between;
  flex-basis: 70%;
  border-right: 2px solid #467540;
  padding: 10px;
}

.box-comic .flex .price select {
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.box-comic .flex .price h5 {
  color: #A5ED9E;
}

.box-comic .flex .price span {
  color: #fff;
}

.advertising {
  background-image: url("/images/adv.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  flex-basis: calc(40% - 20px);
}

.sezione-2 {
  background-color: #F6F6F6;
  padding: 50px 0;
}

.sezione-2 .details {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.sezione-2 .details .talent {
  flex-basis: calc(50% - 30px);
}

.sezione-2 .details .talent h3 {
  margin-bottom: 30px;
  color: #16405C;
}

.sezione-2 .details .talent .artists {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
}

.sezione-2 .details .talent .artists h4 {
  color: #16405C;
}

.sezione-2 .details .talent .artists div {
  width: 70%;
  color: #027BF3;
}

.sezione-2 .details .talent .writers {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.sezione-2 .details .talent .writers h4 {
  color: #16405C;
}

.sezione-2 .details .talent .writers div {
  width: 70%;
  color: #027BF3;
}

.sezione-2 .details .specs {
  flex-basis: 50%;
}

.sezione-2 .details .specs h3 {
  margin-bottom: 30px;
  color: #16405C;
}

.sezione-2 .details .specs .series {
  display: flex;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.sezione-2 .details .specs .series h4 {
  color: #16405C;
  margin-right: 100px;
}

.sezione-2 .details .specs .series span {
  color: #027BF3;
}

.sezione-2 .details .specs .us-price {
  display: flex;
  padding: 5px 0;
}

.sezione-2 .details .specs .us-price h4 {
  color: #16405C;
  margin-right: 65px;
}

.sezione-2 .details .specs .date {
  display: flex;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
}

.sezione-2 .details .specs .date h4 {
  color: #16405C;
  margin-right: 50px;
}

.sezione-2 .icon {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  color: gray;
}

